<header>
    <div class="container">
        <div class="header_left">
            <img id="headshot" src="img/headshot.jpg">    
        </div>
        <div class="header_right">
            <div class="intro">
                <p class="intro__pre">Hello</p>
                <p class="intro__main">I'm <span>{{ site.name }}</span>,<br>a {{ site.job }}</p>
                <p class="intro__post">{{ site.location }}</p>
            </div>

            {% if site.github_username or site.codepen_username or site.twitter_username or site.email_address or site.linkedin_username %}
            <div class="social">
                {% if site.github_username %}<span><i class="fa-brands fa-github"></i> <a href="http://github.com/{{ site.github_username }}" target="_blank">GitHub</a></span>{% endif %} 
                {% if site.twitter_username %}<span><i class="fa-brands fa-twitter"></i> <a href="http://twitter.com/{{ site.twitter_username }}" target="_blank">Twitter</a></span>{% endif %} 
                {% if site.codepen_username %}<span><i class="fa-brands fa-codepen"></i> <a href="http://codepen.io/{{ site.codepen_username }}" target="_blank">CodePen</a></span>{% endif %} 
                {% if site.linkedin_username %}<span><i class="fa-brands fa-linkedin"></i> <a href="http://linkedin.com/in/{{ site.linkedin_username }}" target="_blank">LinkedIn</a></span>{% endif %} 
                {% if site.email_address %}<span><i class="fa-solid fa-envelope"></i> <a href="mailto:{{ site.email_address }}" target="_blank">Email</a></span>{% endif %} 
                {% if site.scholar_username %}<span><i class="fa-brands fa-google-scholar"></i> <a href="https://scholar.google.com/citations?user={{ site.scholar_username }}" target="_blank">Google Scholar</a></span>{% endif %} 
            </div>
            {% endif %}

        </div>
    </div>
</header>

<script>
    document.addEventListener("DOMContentLoaded", function() {
      const links = document.querySelectorAll("a");
  
      links.forEach(link => {
        const href = link.getAttribute("href");
        if (href) {
          link.setAttribute("title", href);
        }
      });
    });
  </script>