<dl class="mission">
    <dt>
        {{site.data.bio.tldr}}
    <dt/>
</dl>

<h3 class="section-title">Bio</h3>
<dl class="mission">
    <dt>
        {{site.data.bio.bio}}
    <dt/>
</dl>

<h3 class="section-title">Experience</h3>
<dl class="experience">
    {% for job in site.data.jobs %}
        {% if job.more %}
        {% else %}
            <dt>
                <p class="title">{{ job.title }}</p>
                <p class="company">{{ job.company }}</p>
                <p class="period">{{ job.period }}</p>
            </dt><!--
            --><dd>
                <p>{{ job.description }}</p>
            </dd>
        {% endif %}
    {% endfor %}
</dl>
<input type="checkbox" class="showMoreJobs-state" id="showMoreJobs"/>
<label for="showMoreJobs" class="showMoreJobs-trigger"></label>
<dl class="showMoreJobs">
    {% for job in site.data.jobs  %}
        {% if job.more %}
            <dt>
                <p class="title">{{ job.title }}</p>
                <p class="company">{{ job.company }}</p>
                <p class="period">{{ job.period }}</p>
            </dt><!--
            --><dd>
                <p>{{ job.description }}</p>
            </dd>
        {% endif %}
    {% endfor %}
</dl>

<h3 class="section-title">Publications</h3>
<div class="keywords">
    <!-- Key:  -->
    <span><i class="fa-solid fa-rotate"></i>  Reinforcement Learning</span>
    <span><i class="fa-solid fa-eye"></i> Robot Perception</span>
    <span><i class="fa-solid fa-shoe-prints"></i> Coverage</span>
    <span><i class="fa-solid fa-users"></i> Swarms</span>
    <span><i class="fa-solid fa-handshake"></i> Human-Robot Interaction</span>
    <span><i class="fa-solid fa-robot"></i> Hardware Experiments</span>
    <span><i class="fa-solid fa-check-square"></i> Learning Benchmark</span>
</div>
<dl class="publications">
    {% for pub in site.data.publications %}
        {% if pub.more %}
        {% else %}
        <dt>
            <p class="title">
                {% if pub.link %}
                    <a href="{{pub.link}}" target="_blank" rel="noreferrer noopener">{{ pub.title }}</a>
                {% else %}
                    {{ pub.title }}
                {% endif %}
                {% if pub.rl %}<i class="fa-solid fa-rotate" title="Reinforcement Learning"></i>{% endif %}
                {% if pub.perception %}<i class="fa-solid fa-eye" title="Robot Perception"></i>{% endif %}
                {% if pub.coverage %}<i class="fa-solid fa-shoe-prints" title="Coverage"></i>{% endif %}
                {% if pub.swarms %}<i class="fa-solid fa-users" title="Swarms"></i>{% endif %}
                {% if pub.hri %}<i class="fa-solid fa-handshake" title="Human-Robot Interaction"></i>{% endif %}
                {% if pub.hardware %}<i class="fa-solid fa-robot" title="Hardware Experiments"></i>{% endif %}
                {% if pub.benchmark %}<i class="fa-solid fa-check-square" title="Learning Benchmark"></i>{% endif %}
            </p>
            <p class="company">{{ pub.authors}}</p>
            <p class="company">{{ pub.venue }}, {{pub.year}}</p>
            <p class="publication-link">{{ qualification.period }}
                {% if pub.supplement %}<a href="{{pub.supplement}}" target="_blank" rel="noreferrer noopener">Supplementary Material</a>{% endif %}
                {% if pub.bibtex %}<a href="/bibtex/{{pub.bibtex}}.bib" target="_blank">Bibtex</a>{% endif %}
                {% if pub.code %}<a href="{{pub.code}}" target="_blank" rel="noreferrer noopener">GitHub</a>{% endif %}
                {% if pub.video %}<a href="{{pub.video}}" target="_blank" rel="noreferrer noopener">Video</a>{% endif %}
            </p>
        </dt>
        {% endif %}
    {% endfor %}
</dl>

<input type="checkbox" class="showMorePubs-state" id="showMorePubs"/>
<label for="showMorePubs" class="showMorePubs-trigger"></label>
<dl class="showMorePubs">
    {% for pub in site.data.publications %}
        {% if pub.more %}
        <dt>
            <p class="title">
                {% if pub.link %}
                    <a href="{{pub.link}}" target="_blank" rel="noreferrer noopener">{{ pub.title }}</a>
                {% else %}
                    {{ pub.title }}
                {% endif %}
                {% if pub.rl %}<i class="fa-solid fa-rotate" title="Reinforcement Learning"></i>{% endif %}
                {% if pub.perception %}<i class="fa-solid fa-eye" title="Robot Perception"></i>{% endif %}
                {% if pub.coverage %}<i class="fa-solid fa-shoe-prints" title="Coverage"></i>{% endif %}
                {% if pub.swarms %}<i class="fa-solid fa-users" title="Swarms"></i>{% endif %}
                {% if pub.hri %}<i class="fa-solid fa-handshake" title="Human-Robot Interaction"></i>{% endif %}
                {% if pub.hardware %}<i class="fa-solid fa-robot" title="Hardware Experiments"></i>{% endif %}
                {% if pub.benchmark %}<i class="fa-solid fa-check-square" title="Learning Benchmark"></i>{% endif %}
            </p>
            <p class="company">{{ pub.authors}}</p>
            <p class="company">{{ pub.venue }}, {{pub.year}}</p>
            <p class="publication-link">{{ qualification.period }}
                {% if pub.supplement %}<a href="{{pub.supplement}}" target="_blank" rel="noreferrer noopener">Supplementary Material</a>{% endif %}
                {% if pub.bibtex %}<a href="/bibtex/{{pub.bibtex}}.bib" target="_blank">Bibtex</a>{% endif %}
                {% if pub.code %}<a href="{{pub.code}}" target="_blank" rel="noreferrer noopener">GitHub</a>{% endif %}
                {% if pub.video %}<a href="{{pub.video}}" target="_blank" rel="noreferrer noopener">Video</a>{% endif %}
                {% if pub.poster %}<a href="{{pub.poster}}" target="_blank" rel="noreferrer noopener">Poster</a>{% endif %}
            </p>
        </dt>
        {% endif %}
    {% endfor %}
</dl>


<h3 class="section-title">Education</h3>
<dl class="education">
    {% for qualification in site.data.education %}
        <dt>
            <p class="title">{{ qualification.qualification }}</p>
            <p class="company">{{ qualification.school }}</p>
            <p class="period">{{ qualification.period }}</p>
        </dt><!--
        --><dd>
            <p>{{ qualification.description }}</p>
        </dd>
    {% endfor %}
</dl>

<h3 class="section-title">Extracurricular Interests</h3>
<dl class="mission">
    <dt>
        {{site.data.bio.extracurricular}}
    <dt/>
</dl>
